* {
    margin: 0px;
    padding: 0px;
}

.navigation {
    background-color: darkblue;
    text-align: center;
}

.navigation-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    vertical-align: middle;
}

.navigation-img {
    height: 40px;
}
.green-btn {
    background-color: aquamarine;
    padding: 10px 15px;
    border-radius: 5px;
}

.slogan {
    background: url("https://ibatech.az/wp-content/uploads/2019/10/banner.jpg") no-repeat;
    background-size: cover;
    padding: 300px 0 100px;
    text-align: center;
}

.slogan-btn {
    display:inline-block;
    text-decoration: none;
}